*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* general */
html {
    font-size: 62, 5%;
    /* 1rem pase a valer a 10px. Por defecto el navegador aplica 16px */
}
    

body{
    color: #804645;
    background-color: #d8bca3;
    font-family: 'Koh Santepheap', cursive;
    font-weight: 500;
    

}