@import "variables";
.main__texto__general{
    line-height: 15px;
    font-size: 1,5rem;
    text-align: left;
    padding: 0.5rem;
    // margin: 0.5rem 1rem 0.5rem 5rem;
    margin: 0,5rem;
    border: 0.3rem solid $borde-oscuro;

    background-color: $base-clara;
    display: inline-block;
    
}

.main__producto__titulo{
    color: $borde-oscuro;
    background-color: $base-clara;
    border:0.3rem solid $borde-oscuro ;
    margin: 2rem;
    padding: 0.3rem;
    text-align: center;
    border-radius: 2rem;
    }

.main__producto{
    border: 0.3rem solid $borde-oscuro;
    background-color: $base-clara;
    display: inline-block;
    padding: 1rem;
    margin: 1rem;
}
.main__producto__margin{
    @extend.main__producto;
    margin: 0rem 1rem 0rem 2rem;
}
.main__producto__imagen{
    height: 13rem;
    width: 13rem;
}
.main__producto__video{
    display: inline-block;
    border: 0.3rem solid $borde-oscuro;
    background-color: $base-clara;
    padding: 1rem;
    margin: 1rem;
}

.main__form{
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
    margin: 5rem 16rem 5rem 20rem;
    border: 0.3rem solid $borde-oscuro;
    background-color: $base-clara; 
    display: inline-block;
    flex-direction: row;
    
}
.main__form__titulo{
    font-size: 2rem;
    border-bottom:0.1rem solid $borde-oscuro ;
}
.main__producto__carousel{
    height: 20rem;
    width: 60rem;
}
.main__mapa__chico{
    visibility: hidden;

}
.main__relleno__mercado{
    height: 10rem;
}